h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
}

.quarto-alternate-formats > h2 {
  display: none;
}
.quarto-alternate-formats:before {
  content: "Print version:"
}
.callout.callout-style-simple .callout-body,
.callout.callout-style-default .callout-body {
  font-size: 110%;
}
#tbl-textbookdata {
  overflow-x: scroll;
  white-space: nowrap;
}
