_environment-devel
_site
_freeze
**/.DS_Store
_git_graphs
*.pyc
**/libs/
**/site_libs/
**/_site/
classes/*/_courseData/
classes/*/MyOpenMath.qmd
classes/_todo.txt
classes/*/**/_scratch.ipynb

/.quarto/
