.digit-display {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.quarto-dark .drawing_container canvas {
    border: solid 1px #999;
    background-color: #666;
}

.quarto-light .drawing_container canvas {
    border: solid 1px #999;
}

