/* Scrollytell */

div.top {
  max-width: 800px;
}

#scroll_container {
  position: relative;
  /* border: solid 1px black; */
  /* margin: 1rem auto; */
  /* background-color: #fafafa; */
}


article {
  position: relative;
  padding: 0;
  /* max-width: 20rem; */
  /* margin: 0 auto; */
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  /* height: 80vh;
  margin-top: 200px; */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #f1f1f1; */
  /* border: solid 2px blue; */
  z-index: 0;
}

/* figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
} */

div.step {
  margin: 0;
  /* height: 90vh; */
  /* border: solid 5px red;  */
  /* color: rgba(0,0,0,0.9); */
}
div.step p {
  border: solid 1px slategray;
  background-color: rgba(255,255,255, 0.8);
  color: rgba(0,0,0,0.6)
}

div.step:last-child {
  margin-bottom: 0;
}
/* div.step:first-child {
  height: 200px;
} */

/* .step.is-active p {
  background-color: goldenrod;
  color: #3b3b3b;
} */

.step p {
  /* text-align: center; */
  padding: 1rem;
  font-size: 1.5rem;
  max-width: 420px;
  /* background-color: #3b3b3b; */
}

.observablehq--undefined {
  display: none;
}
