form {
  width: 400px !important;
}
#observablehq-curve_cnt form label {
  width: 100px !important;
}
#observablehq-viewof-show_critial_parameters form label {
  width: 300px !important;
}
#observablehq-curve_cnt-5c291325 form label {
  width: 100px !important;
}
#observablehq-viewof-show_critial_parameters-5c291325 form label {
  width: 300px !important;
}
