.ahead {
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none
}
.ahead:hover {
  text-decoration: underline;
}

.quarto-dark .ahead {
  color: #eee;
}
.quarto-light .ahead {
  color: #111;
}